html{
    max-height: 100vh;
    max-width: 100vw;
}

body{
    background: #17bfec;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
}

.wrapper{
    background: linear-gradient(90deg, #b769a1 0%, #22C1C3 100%);
    height: 100vh;
    width: 100vw;
}

header{
    --neon-color: #00FCFF;
    --neon-base: #E2FEFF;
    --neon-text: mediumpurple;
    
    width: 200px;
    height: calc(100% - 1.5em);
    margin: 1em 25px 0.5em;
    padding: 20px 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
    font-size: calc(200px/6);
    font-family: 'Shojumaru', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--neon-base);
    text-align: center;
    vertical-align: middle;
    
    background: rgb(0, 0, 0, 0.5);
    border: thick solid var(--neon-base);
    border-radius: 50px;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker{
    0%, 20%, 22%, 24%, 26%, 52%, 54%, 100%{
        text-shadow:
            1px 1px 5px var(--neon-base),
            -1px -1px 5px var(--neon-base),
            0 0 10px var(--neon-text),
            0 0 15px var(--neon-text),
            0 0 20px var(--neon-text),
            0 0 25px var(--neon-text),
            0 0 30px var(--neon-text),
            0 0 35px var(--neon-text);
        box-shadow: 
            0 0 5px var(--neon-base),
            inset 0 0 5px var(--neon-base),
            0 0 15px var(--neon-color),
            inset 0 0 15px var(--neon-color),
            0 0 30px var(--neon-color),
            inset 0 0 30px var(--neon-color);
    }
    21%, 25%, 53%{
        text-shadow: none;
        box-shadow: none;
    }
}

.content-wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100vw - 240px);
    height: 100%;
    top: 0;
    left: 240px;
}

nav, .content, footer{
    width: calc(100vw - 240px);
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.content{
    width: 100%;
    margin: 5px;
    border: thick solid black;
    box-sizing: border-box;
    height: 100%;
    max-width: calc(100vw - 300px);
    max-height: 100%;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background: rgba(255, 255, 255, 0.1);
    place-content: center;
}

.slideshow-item{
    border: thin solid white;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

#slideshow-item-main{
    grid-area: 1 / 1 / 4 / 4;
}

#slideshow-item-main img{
    height: calc(100vh / 1.95);
    width: calc(100vw / 3);
    object-fit: contain;
}

#slideshow-item-1{
    grid-area: 1 / 4 / 2 / 5;
}

img{
    height: calc(100vh / 7);
    width: calc(100vw / 7);
    object-fit: contain;
}

nav{
    margin-top: 2em;
    top: 0;
}

footer{
    min-height: 120px;
    bottom: 0;
}
nav a, .address, .contact{
    color: white;
    font-family: 'VT323', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    opacity: 0.8;
    padding: 0 0.5em;
    border-bottom: solid transparent;
}

.contact a{
    color: inherit;
    text-decoration: none;
}

.address{
    text-align: right;
}

nav a:hover, nav a:focus, .contact a:hover, .contact a:focus{
    opacity: 1;
    border-bottom: solid white;
}

.social-box{
    display: flex;
    flex-flow: row wrap;
}

.social-icon a{
    fill: white;
    opacity: 0.8;
    padding: 5px;
    
}

.social-icon a:hover, .social-icon a:focus{
    opacity: 1;
}

.social-icon svg:hover, .social-icon svg:focus{
    animation: pulse 1s;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 white;
    }
}